body{
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}
h1{
    margin-top: 40px !important;
    margin-bottom: 25px !important;
    background-color: darkblue !important;
    border-radius: 5px;
    color: black;

}